/* base */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/* header */

.top {
    float: right;
    display: flex;
    margin: 1rem 1rem 0 0;
    justify-content: center;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    margin-right: .7rem;
}

.nav-link li:last-child {
    margin-right: 2rem;
}

.nav-link li a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #000000;
}

.nav-link li a:hover {
    text-decoration: underline;
}

.icon-app {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;
    color: #000000;
}

/* .icon-app:hover {
    background-color: #000000;
    background-size: 2rem;
} */

.user-photo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

/* google-search-main */

.google-search-main {
    width: 40%;
    margin: 0 auto;
}

.google-logo {
    width: 18rem;
    height: auto;
    margin: 10% 0 3% 20%;
}

.search-space {
    width: 100%;
    border: 1px solid #c7c7c7;
    border-radius: 2rem;
}

.search-space:hover {
    box-shadow: 0 0 .3rem rgba(0,0,0,0.3) ;
}

.inner-icons {
    display: flex;
    justify-content: space-between;
}

.search-icon {
    font-size: 1.2rem;
    margin: -.5rem 0 .5rem 1rem;
}

.mic-icon {
    font-size: 1.2rem;
    margin: -.5rem 1rem .5rem 0;
}

.google-option {
    width: 62%;
    margin: 0 auto;
    /* display: inline-block;
    margin: 5% 10% 0 10%; */
}

.google-option p {
    display: inline-block;
    margin-top: 2rem;
}

.google-search {
    margin-right: 2rem;
    background-color: #c7c7c7;
    padding: .5rem 1rem;
}

.feeling {
    background-color: #c7c7c7;
    padding: .5rem 1rem;
}